/* html styles */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/* Header styles */
header {
    background-color: rgb(183, 171, 156);
    height: 80px;
}

/* logo style */
header img {
    height: 50px;
    /* width: 25px; */
    margin-left: 30px;
    margin-top: 10px;
}

/* navigation styles */
.nav-container {
    float: right;
}

.nav-container ul li {
    list-style-type: none;
    /* text-decoration: none; */
    display: inline-block;
    padding-top: 25px;
    /* padding-right: 25px; */
    margin-right: 40px;
}

.nav-container ul li a {
    text-decoration: none;
    position: sticky;
    /* text-align: right; */
    color: rgb(58, 57, 57);
    position: relative;
    /* padding-right: 40px; */
    font-weight: 900;
    right: 80px;
    padding: 0 4px 6px 4px;

}

.nav-container ul {
    margin: 0;
}

.nav-container ul li a:hover {
    color: azure;
    transition: 0.25s ease-in;
}

.active {
    /* background-color: rgb(235, 196, 255); */
    border-bottom: 1px solid black;
}