/* html styles */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url("/images/spring.jpg");
}

/* Header styles */
header {
    background-color: #402a23;
    height: 80px;
}

/* logo style */
header img {
    height: 50px;
    /* width: 25px; */
    margin-left: 30px;
    margin-top: 10px;
}

/* navigation styles */
.nav-container {
    float: right;
}

.nav-container ul li {
    list-style-type: none;
    /* text-decoration: none; */
    display: inline-block;
    padding-top: 25px;
    /* padding-right: 25px; */
    margin-right: 40px;
}

.nav-container ul li a {
    text-decoration: none;
    position: sticky;
    /* text-align: right; */
    color: whitesmoke;
    position: relative;
    /* padding-right: 40px; */
    font-weight: 900;
    right: 80px;
    padding: 0 4px 6px 4px;

}

.nav-container ul {
    margin: 0;
}

.nav-container ul li a:hover {
    color: blanchedalmond;
    transition: 0.25s ease-in;
}

.active {
    /* background-color: rgb(235, 196, 255); */
    border-bottom: 1px solid beige;
}

/* containers */
.container {
    font-size: 20px;
    color: white;
}

.box1 {
    background-color: transparent;
    height: 200px;
    border: 1px solid tan;
    margin: 5% 50% 30% 2%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(205, 196, 184);
    padding: 40px;
    font-weight: 900;
}

.box1 h3 {
    text-decoration: underline;
    color: rgb(112, 14, 14);
    text-align: justify;
}